<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-android"></i>&nbsp;&nbsp;<strong><a href="#">Sembakota And E-Perlinkon</a></strong>
			- Working on the Android Backend and the Web API on Two Apps for Makassar City Trade Departement 
            (Disdag Makassar)
		</h5>
    	<h5>
			<i class="fa fa-desktop"></i>&nbsp;&nbsp;<strong><a href="#">Flight Plan</a></strong>
			- Developed Flight Plan App in VB .NET Using .NET Network Communication Library
		</h5>
    </div>
  </div>
</div>
</section>
