<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Sembakota And E-Perlinkon</a></strong>
			- Working on the Android Backend and the Web API on Two Apps for Makassar City Trade Departement 
            (Disdag Makassar). Utilizing Android Java And PHP
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="http://kaloling.000webhostapp.com/">Kaloling Government Website</a></strong>
			- Designing and Developing Website for Kaloling Government, A Remote Village in Bantaeng Regency Using Wordpress
		</h5>
    	<h5>
			<i class="fa fa-desktop"></i>&nbsp;&nbsp;<strong><a href="#">Flight Plan</a></strong>
			- Developed Flight Plan App Using VB .NET Utilizing Network Communication Library For .NET 
		</h5>
		


    </div>
  </div>
</div>
</section>
